<div class="heading">
<% if false #enable when need login %>
 <% if user_signed_in? %>
  <span style="align:right"><%= link_to "Logout", destroy_user_session_path %></span>
 <% else %>
  <span style="align:right"><%= link_to "Login", new_user_session_path %></span>
 <%end%>
<% end %>
</div>

